@forward 'mixins';
@mixin button-style {
    padding: 5px 10px;
    background-color: $primary-color;
    color: white;
    border: none;
    cursor: pointer;
  
    &:disabled {
      background-color: #cccccc;
      cursor: not-allowed;
    }
}

