@use 'variables' as *;
@use 'mixins' as *;

// Estilos globais
body {
  font-family: Arial, sans-serif;
}

#app {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: $secondary-color;
}

@use 'components/cpf-list';
@use 'components/upload-form';